h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 65px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.header2 {
    font-family: 'Calibri';
    color: white;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 10px;
}


body {
    background-image: url(./assets/HP\ Background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: color;
    background-image: linear-gradient(rgba(rgba(71, 69, 71, 0)), rgb(rgb(18, 18, 19)));
    padding-top: 160px;
    background-attachment: fixed;
}

.style {
    background-image: url(./assets/HP\ stars.jpg);
    background-size: cover;

}

#wizardlogo{    
    margin-left:600px;
    position: relative;
    margin-top: 25px;
}

.align {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.feature {
    position: absolute;
    color: white;
    left: 150px;
    bottom: 66px;
    font-family: "calibri";
    font-variant: small-caps;
    font-weight: bold;
}

#news {
    position: absolute;
    color: white;
    left: 600px;
    bottom: 66px;
    font-family: "calibri";
    font-variant: small-caps;
    font-weight: bolder;
}
#news2 {
    position: absolute;
    color: white;
    left: 1000px;
    top: 95px;
    font-family: "calibri";
    font-variant: small-caps;
    font-weight: bolder;
}

.readmore button{
    border-radius: 50px;
    background-color: #6B63B5;
    border-color: #6B63B5;
    text-align: center;
    color: white;
    width: 250px;
    height: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 550px;
    position: absolute;
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: large;
    font-weight: bold;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Gill Sans', sans-serif;
    color: white;
    font-variant: small-caps;;
    
}

.logo {
    margin-left: 450px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.login button {
    border-radius: 5px;
    background-color: #6B63B5;
    border-color: #6B63B5;
    text-align: center;
    color: white;
    width: 80px;
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    margin-left: 1200px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

.main-navbar {
    position: fixed;
    top: 0;
    width: 100%;
 
}

.main-navbar p:hover {
    background-color: black;
}