h1 {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    color: white;
    font-size: 65px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

p {
    font-family: 'Calibri';
    color: white;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;

}

body {
    background-image: url(./assets/HP\ Background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: color;
    background-image: linear-gradient(25%);
}

nav {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}